/* jspsych  */
#jspsych-target{
    height: 95vh;
} 

/* multi-image-button-response stimulus styling */ 
/* based on jspsych-image-button-response styling */ 
.multi-image-stimulus { 
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    height: 30vh; 
    width: 30vh;
}

/* to standardize size when the buttons are images */
.jspsych-btn img {
    width: 30vh;
    height: 30vh;
}

/* change title size in instructions screens from bootstrap default */
h1 { 
    font-size: 30px !important;
    margin-bottom: 20px !important;
}

/* practice explanation */ 
#practice-explanation { 
    background-color: pink;
    padding-left: 5px; 
    padding-right: 5px;
    position: absolute;
    top: 5vh;
    right: 25vh;
    left: 25vh;
    margin: 0 auto;
    min-width: fit-content;
}

/* border around incorrect responses during training */
#incorrect-response {
    border: 5px solid red;
}

/* padding around preamble and prompt in copy screens */
#copying-no-choice-explanation{
    margin-bottom: 2vh;
} 

#press-continue-copy-screen { 
    margin-top: 2vh;
}

/* table wrapper (flexbox */ 
#stimulus-flexbox-wrapper { 
    display:flex;
}

#choice-display { 
    width: 40%;
}

/* --- table --- */
#table-content { 
    padding: 0.5rem;
}

#stimulus-flexbox-wrapper #table-content{
    width: 66%;
}

#table-content th{
    text-align: center;
}

#stimulus-content{
    margin: 15px;
}

table{ 
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    /* text-align: center; */
}

td, th {
    border: 1px solid black; 
    padding: 0.5rem;     
    text-align: center;
}

#self{
    background-color:bisque;
}

.player-name{
    margin: 15px;
    display: inline;
}

.player-info{
    text-align: left;
}

.avatar{
    width: 50vh;
    height: 50vh;
}

#congratulations {
    font-weight: bold;
    color: green;
    margin-bottom: 5vh;
}

#amount-earned{
    color: green;
    font-weight: bold;
    display: inline;
    margin: 10px;
    font-size: small;
}

#self-money-total, #self-reward-total { 
    color: green;
    font-weight: bold;
}

.prompt { 
    margin: 15px;
}

/* image displayed next to table */ 
#choice-display-img { 
    width: 50%;
    height: 90%;
}

/* prompt under table */
#next-round-instructions {
    margin-top: 5vh;
}

/* -- sidebar -- */ 
.sidebar{
    /* top: 0;
    left: 0; 
    width: 10%; 
    height: 100%;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightcyan;
    border: 1px solid blue; 
    height: 5vh;
}

/* timer elements, based on css-tricks.com */ 

.timer-wrapper{
    position:relative; 
    margin: 2%;
}

#countdown-timer{
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
}
.timer-label{
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 65%;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

/* money amount */ 
#money-amount { 
    margin: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}

/* avatar in intro screen */
#intro-player-avatar { 
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 10vh;
    height: 10vh;

    margin-top: 15px;
    margin-bottom: 15px;
}

#player-name-avatar { 
    border: 2px solid black;
}