/* jspsych  */
#jspsych-target{
    height: 95vh;
} 

/* multi-image-button-response stimulus styling */ 
/* based on jspsych-image-button-response styling */ 
.multi-image-stimulus { 
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    height: 30vh; 
    width: 30vh;
}

/* to standardize size when the buttons are images */
.jspsych-btn img {
    width: 30vh;
    height: 30vh;
}

/* border around incorrect responses during training */
#incorrect-response-btn {
    border: 5px solid red;
}

/* --- table --- */
#table-content { 
    padding: 0.5rem;
}

#table-content th{
    text-align: center;
}

#stimulus-content{
    margin: 15px;
}

table{ 
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    /* text-align: center; */
}

td, th {
    border: 1px solid black; 
    padding: 0.5rem;     
    text-align: center;
}

#self{
    background-color:bisque;
}

.player-name{
    margin: 15px;
    display: inline;
}

.player-info{
    text-align: left;
}

.avatar{
    width: 50vh;
    height: 50vh;
}

#congratulations {
    font-weight: bold;
    color: green;
}

#self-money-total, #self-reward-total { 
    color: green;
    font-weight: bold;
}

.prompt { 
    margin: 15px;
}


/* -- sidebar -- */ 
.sidebar{
    /* top: 0;
    left: 0; 
    width: 10%; 
    height: 100%;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightcyan;
    border: 1px solid blue; 
    height: 5vh;
}

/* timer elements, based on css-tricks.com */ 

.timer-wrapper{
    position:relative; 
    margin: 2%;
}

#countdown-timer{
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
}
.timer-label{
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 65%;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

/* money amount */ 
#money-amount { 
    margin: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}